@import 'header';
@import 'tabs';
@import 'card';
@import 'buttons';
@import 'board';

.container {
  padding-top: 70px;
  padding-left: 26px;
  padding-right: 26px;
  width: 90%;
 
  h2 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
  }

 
  input, select {
    &.text {
      width: 90%;
      margin: 8px 0px 30px 0px;
      padding: 16px 0px;
      border: 1px solid#F4F4F4;
      background: #F4F4F4;
      border-radius: 10px;
    }
  }
  
  label {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  
  textarea, trix-editor {
    width: 90%;
    margin: 8px 0px;
    padding: 8px 0px;
    min-height: 200px;
    // resize: vertical;
    border: 1px solid #EBEBEB;
    background: #F4F4F4;
    border-radius: 10px;
    
    &.sm {
      min-height: 160px;
      
    }
  }
}
